ul#user-help-about-menu {
    list-style: none outside none;
    margin-right: 0.5em;
}

ul#user-help-about-menu li {
    display: block;
    float: right;
    margin-right: 0.5em;
}

div.block-bibdk-help {
    float: left;
}

.node-type-userhelp section#section-content {
  clear: both;
}

.page-help div.tabs,
.node-type-userhelp div.tabs {
  display: none;
}

.page-help div.block-bibdk-help {
    float: none;
}

.page-help#breadcrumb,
.node-type-userhelp #breadcrumb {
  height: 1.6em;
}

form#bibdk-help-search-form {
  padding: 0.5em 0;
  clear: both;
}

form#bibdk-help-search-form legend {
  margin: 0 1em 0 0;
  float: left;
}

form#bibdk-help-search-form .form-item,
form#bibdk-help-search-form .form-actions {
  margin: 0 1em 0 0;
  float: left;
}

form#bibdk-help-search-form input.form-text {
  width: 12em;
}

#bibdk-user-help-menu {
  border-top: 1px solid #666;
}

#bibdk-user-help-menu li {
  display: block;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  float: left;
  width: 33%;
}

#bibdk-user-help-menu li:nth-child(4n) {
  clear: left;
}

#bibdk-user-help-menu li li {
  margin-left: 1em;
  margin-right: 0;
  width: auto;
  float: none;
}

